#hero {
    background-color: $colorPrimary;
    padding: $mainPadding;
    h1 {
        color: $white;
        font-size: 40px;
        font-family: $secondaryFont;
        &:hover {
            color: lighten($colorPrimary, 20%);
        }
     
    }
    p {
        color: white;
    }
}