
@import 'variables';
@import 'section-hero';
@import 'img_tiger';


@function lighten($color, $percent) {
    @return mix(white, $color, $percent);
}

@function darken($color, $percent) {
    @return mix(black, $color, $percent);
}


body {
    margin: 0;
    padding: 0;
    font-family: $font;
}

@mixin set-font( $family: 'Ubuntu' , $weight: 400 , $style: normal ) {
    font-family: $family , 'Arial', 'Helvetica', sans-serif;
    font-style: $style;
    font-weight: $weight;
    font-size: 40px;
  }


#main{
    padding: $mainPadding;
    color: red;
    background-image: $img_tiger;
    background-repeat: no-repeat;
    background-size: cover;
    @include set-font;
    display: flex;
    h1{
        color: rgb(200, 122, 200);
    }
    h1:hover {
        color: lighten($colorPrimary, 20%);
    }
}



