.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
    
}

.red {
    background-color: red;
    left: 30px;
}

.green {
    background-color: green;
    top: 30px;
}
.blue {
    background-color: blue;
}


.purple {
    background-color: purple;

}
